.translate-card-header__back-button {
    margin-right: 10px;
    cursor: pointer;
}
.translate-card-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.translate-card-header {
    display: flex;
    flex: 0.5;
    align-items: center;
}
.translate-card-main {
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: center;
}
.translate-card-main__text {
    font-size: 36px;
    margin-bottom: 20px;
}
.translate-card-footer {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.card {
    all: unset;
    border: #999999 solid 1px;
    background-color: white;
    padding: 20px 24px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.card_no-margin-bottom {
    margin-bottom: 0;
}

.card_correct {
    background-color: green;
    color: white;
}
.card_incorrect {
    background-color: red;
    color: white;
}

.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card:not(.card_incorrect, .card_correct):hover {
    background-color: darkgrey;
    color: white;
}
