.input-container {
    margin-bottom: 10px;
}
.input {
    all: unset;
    display: block;
    width: 300px;
    border-radius: 10px;
    padding: 10px 15px;
    border: 1px solid #ced4da;
    margin-top: 8px;
    appearance: none;
    box-sizing: border-box;
}
.input_password {
    padding-right: 35px;
}
.input_error {
    border-color: red;
}
.input-error {
    margin-top: 5px;
    color: red;
    width: 300px;
}
.input:focus {
    border-color: black;
}
.input__visibility-image {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 18px;
    top: 12px;
}
