.task {
    position: relative;
    display: flex;
    justify-content: center;
}
.task__circle {
    height: 50px;
    width: 60px;
    background-color: coral;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 0 7px #999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task__circle-image {
    width: 30px;
    height: 30px;
    filter: opacity(10%);
    user-select: none;
}

.task__circle:active {
    box-shadow: 0 0;
    transform: translateY(7px);
}

.task__top-hint {
    position: absolute;
    background-color: white;
    border: 2px lightgray solid;
    border-radius: 5px;
    top: -40px;
    padding: 8px 12px;
    color: green;
    animation: floating 1s linear infinite alternate;
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}

.task__circle_type_passed {
    background-color: gold;
    box-shadow: 0 7px darkgoldenrod;
}
.task__circle_type_current {
    background-color: green;
    box-shadow: 0 8px darkgreen;
}
.task__circle_type_locked {
    background-color: gray;
    box-shadow: 0 7px #999;
}

.task__hint {
    padding: 20px;
    width: 300px;
    height: 100%;
    overflow: hidden;
    background-color: darkgray;
    position: absolute;
    bottom: -105px;
    z-index: 1;
    border-radius: 10px;
    border: 2px solid gray;
    display: flex;
    text-align: center;
    align-items: center;
    transition: 0.3s;
    transform:translateY(-50px) scaleY(0) scaleX(0)
}

@keyframes popup {
    0% {
        transform:translateY(-50px) scaleY(0) scaleX(0);
    }
    100% {
        transform:translateY(0) scaleY(100%) scaleX(100%);
    }
}
.task__hint_visible {
    transform:translateY(0) scaleY(100%) scaleX(100%);
}

