.word {
    margin-bottom: 30px;
    font-size: 28px;
    cursor: help;
}
.answer-field {
    display: flex;
    background-color: #e8e8e8;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.answer-field__item {
    all: unset;
    display: flex;
    width: 40px;
    height: 50px;
    background-color: white;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 28px;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.answer-field__item_filled {
    cursor: pointer;
}
.answer-field__item_correct {
    color: white;
    background-color: green;
    cursor: default;
}
.answer-field__item_incorrect {
    color: white;
    background-color: red;
}
.answer-field__item_drag-over {
    background-color: beige;
}
.letters {
  display: flex;
}
.letters__content {
    width: 40px;
    height: 50px;
    background-color: #e8e8e8;
    margin-right: 10px;
    border-radius: 7px;
}
.letters__content_invisible {
    visibility: hidden;
}
.letters__content-letter {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    margin-right: 10px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 28px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
