.learning-cards-container {
    flex-direction: row;
}
.learning-cards-container__next-button {
    all: unset;
    top: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.learning-cards-container__next-button_selection {
    background-color: lightgray;
}

.learning-cards-container__next-button_hide {
    visibility: hidden;
}

.learning-cards-container__next-button:hover {
    background-color: lightgray;
}

.learning-cards-container__next-button-image {
    width: 30px;
}
.learning-cards-container__next-button-image_rotate {
    rotate: 180deg;
}
