.learning-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}
.learning-cards-container__next-button {
    all: unset;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.learning-cards-container__next-button_position_left {
    left: 0;
}

.learning-cards-container__next-button_position_right {
    right: 0;
}

.learning-cards-container__next-button-image {
    width: 30px;

}
.learning-cards-container__next-button-image_rotate {
    rotate: 180deg;
}


.learning-cards-container__word-image {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.learning-cards-container__word-ru {
    font-size: 24px;
    margin-bottom: 20px;
}
.learning-cards-container__word-en-container {
    display: flex;
    align-items: center;
    font-size: 24px;
}
.learning-cards-container__sound-button {
    all: unset;
    margin-left: 4px;
    display: flex;
    align-items: center;
}
.learning-cards-container__sound-button-image {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
