
.text {
    margin-bottom: 10px;
    font-size: 20px;
}
.field-row {
     display: flex;
     user-select: none;
 }
.field-column {
    all: unset;
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    margin: 3px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    position: relative;
    box-sizing: border-box;
}
.field-column:not(.field-column_disabled):hover {
    background-color: #999999;
    color: white;

}
.field-column_selected {
    background-color: green;
    color: white;
}
.field-column_disabled {
    cursor: default;
}
.field-column_incorrect {
    border: green 1px solid;
    background-color: white;
    color: black;
}
.answer-field-container {
    display: flex;
    margin-bottom: 20px;
}
.answer-field-item {
    display: flex;
    width: 20px;
    height: 25px;
    margin: 0 3px;
    background-color: white;
    border-radius: 10px;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    border: #999999 1px solid;
    padding: 10px;
    user-select: none;
}
.answer-field__item_correct {
    color: white;
    background-color: green;
    cursor: default;
}
.answer-field__item_incorrect {
    color: white;
    background-color: red;
}
