.chapter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chapter__header {
    padding: 10px;
    background-color: coral;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 100%;
    color: white;
    box-sizing: border-box;
}
.chapter__header-number {

}
.chapter__header-name {
    display: block;
}
